@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');


.App {
  text-align: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
}

body {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center center ;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i_number {
  padding: 10px;
  border-style: none;
  border: 2px solid #f00;
  border-radius: 3px;
}

.i_submit {
  padding: 10px;
  margin-left: 8px;
  background-color: #f00;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
}

.titulo {
  font-family: 'Roboto Condensed', sans-serif;
}


@media (max-width : 600px) {
  body {
    overflow: hidden;
  }
  .App {
    padding: 18px;
  }
  .i_number {
    width: 40px;
  }
}
